fastapi[all] 
# trism 
git+https://github.com/hungnq1310/trism_lm.git@0.0.1-1#egg=trism
python-dotenv 
ray[serve] 
tritonclient[all] 
attrdict 
qdrant_client
numpy>=2
transformers
PyJWT
pydantic_settings
gradio
python-docx
pypdf
